/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

header {
  background-color: hsl(304, 100%, 44%);
  color: hsl(0, 0%, 100%);
  padding: 40px;
  text-align: center;
}
